$icon-font-path: '../fonts/';
$font-size-base: 16px;
$line-height-base: 16px;

$z-index-bottom: 100;
$z-index-middle: 200;
$z-index-top: 300;

$thumb-overlay-speed: 300ms;
$thumb-zoom: 1.1;


//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";


* {
    box-sizing: border-box;
}

body {
    background: #444;
    padding: 0;
    margin: 0;
}


.holder {
    width: 300px;
    padding: 15px;
    display: inline-block;
    @media all and (max-width: 800px){
        width: 200px;
    }
    @media all and (max-width: 600px){
        width: 100%;
    }
}

.thumbnail {
    position: relative;
    display: inline-table;
    width: 100%;
    line-height: 0;

    &--toggle-overlay {
        .thumbnail__overlay {
            visibility: visible!important;
            opacity: 1!important;
        }
        .thumbnail__img {
            transition: $thumb-overlay-speed!important;
            transform: scale($thumb-zoom)!important;
        }
    }

    &--toggle-content {
        .thumbnail__content {
            visibility: visible!important;
            opacity: 1!important;
        }
    }

    &--content--overlayed {
        .thumbnail__holder {
            z-index: $z-index-middle;
        }
        .thumbnail__content {
            z-index: $z-index-bottom;
        }
        .thumbnail__content {
            position: absolute;
            background: rgb(100,100,100);
            top: -15px;
            left: -15px;
            width: calc(100% + 30px);
            padding: calc(81% + 15px) 15px 15px;
            line-height: $line-height-base;
            visibility: hidden;
            opacity: 0;
        }
    }
}

.thumbnail__holder {
    position: relative;
    overflow: hidden;
}

.thumbnail__img {
    width: 100%;
    transition: $thumb-overlay-speed;
    transform: scale(1);
}

.thumbnail__overlay {
    position: absolute;
    z-index: $z-index-top;
    background: rgba(0,0,0,0.3);

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;

    line-height: $line-height-base;

    opacity: 0;
    transition: $thumb-overlay-speed;
    transform: scale($thumb-zoom);
}

.thumbnail__content {
    line-height: $line-height-base;
    transition: $thumb-overlay-speed;
}
