<div class="holder">
    <p>вкл оверлей по ховеру на всем тамбнейле с контентом (контента нет)</p>
    <div game-thumb="{
        image: '/images/invisible-man.jpg',
        toggle: 'image',
        contentOverlayed: false
    }">

        <p name="overlay">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cupiditate eaque esse facere m
        </p>
    </div>
</div>

<div class="holder">
    <p>вкл оверлей только по ховеру на картинке</p>
    <div game-thumb="{
        image: '/images/invisible-man.jpg',
        toggle: 'image',
        contentOverlayed: false
    }">

        <p name="overlay">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cupiditate eaque esse facere m
        </p>
        <p name="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cupiditate eaque esse facere molestiae obcaecati possimus suscipit veniam. Adipisci dignissimos, doloremque eos facere iusto laudantium quas tempora? Aperiam, assumenda, eos?</p>
    </div>
</div>

<div class="holder">
    <p>вкл оверлей по ховеру на всем тамбнейле с контентом (контент есть)</p>
    <div game-thumb="{
        image: '/images/invisible-man.jpg',
        toggle: 'all',
        contentOverlayed: false
    }">

        <p name="overlay">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cupiditate eaque esse facere m
        </p>
        <p name="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cupiditate eaque esse facere molestiae obcaecati possimus suscipit veniam. Adipisci dignissimos, doloremque eos facere iusto laudantium quas tempora? Aperiam, assumenda, eos?</p>
    </div>
</div>

<div class="holder">
    <p>вкл оверлей и контент по ховеру на тамбнейле</p>
    <div game-thumb="{
        image: '/images/invisible-man.jpg',
        toggle: 'image',
        contentOverlayed: true
    }">

        <p name="overlay">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cupiditate eaque esse facere m
        </p>
        <p name="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cupiditate eaque esse facere molestiae obcaecati possimus suscipit veniam. Adipisci dignissimos, doloremque eos facere iusto laudantium quas tempora? Aperiam, assumenda, eos?</p>
    </div>
</div>

<div class="holder">
    <p>вкл оверлей по событию</p>
    <div game-thumb="{
        image: thumbnails[0].image,
        toggle: thumbnails[0].toggle
    }">

        <p name="overlay">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cupiditate eaque esse facere m
        </p>
        <div name="content">
            <p><button ng-click="testContent(thumbnails[0])">Toggle</button></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cupiditate eaque esse facere molestiae obcaecati possimus suscipit veniam. Adipisci dignissimos, doloremque eos facere iusto laudantium quas tempora? Aperiam, assumenda, eos?</p>
        </div>
    </div>
</div>